.list {
  border-top: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  &__item {
    padding: 10px 30px 10px 10px;
    border-bottom: 1px solid var(--color-border);
  }
}
