@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #131314;
    --color-color: #eeeeee;
    --color-border: #444746;
    --color-light-bg: #303030;
    --color-input-bg: #343439;
    // --color-input-bg: #222225;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-border: #e4e4e4;
  }
}

:root {
  --color-orange: #ff7700;
  --color-orange-hover: #ff9b43;
  --font-primary: "Montserrat", serif;
}
