.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  &__categories {
    margin: 20px;
  }

  &__page_footer {
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    padding: 20px;
  }
}
