.main {
  height: 100%;
  background: var(--color-light-bg);
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    height: 64px;
  }

  &__nav_items {
    padding: 10px 0;
  }

  &__nav_item {
    a {
      text-decoration: none;
      color: var(--color-color);
    }
    font-size: 16px;
    padding: 16px;
  }

  &__footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
